<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUAutomaticallyUpdate</key>
	<true/>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUEnableInstallerLauncherService</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://storage.yandexcloud.net/macos-releases/snippets/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>rgNtJvkaxihdNgKyNtbb2DMWaVYuZOxWuoI2MgSj6R0=</string>
	<key>SUScheduledCheckInterval</key>
	<integer>14400</integer>
</dict>
</plist>
