<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Snippets Encrypted Backup</string>
			<key>UTTypeIdentifier</key>
			<string>com.khm.snippets.encrypted-backup</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>snippetsbackup</string>
				</array>
				<key>public.mime-type</key>
				<string>application/vnd.khm.snippets.encrypted-backup</string>
			</dict>
		</dict>
	</array>
	<key>NSServices</key>
	<array>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>New Snippet</string>
			</dict>
			<key>NSMessage</key>
			<string>makeSnippetFromSelection</string>
			<key>NSPortName</key>
			<string>Snippets</string>
			<key>NSRequiredContext</key>
			<dict>
				<key>NSTextContent</key>
				<string>Text</string>
			</dict>
			<key>NSSendTypes</key>
			<array>
				<string>NSStringPboardType</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
